@media print {
  body {
    font-size: 14px;
    background-color: lightslategray;
    font-family: JetBrains Mono;
  }
  /* Establece el tamaño de fuente para impresión */
}

@media screen {
  body {
    font-size: 16px;
    background-color: rgb(255, 252, 230);
    text-align: justify;
    padding-left: 4%;
    padding-right: 4%;
  }
  /* Establece el tamaño de fuente para visualización */
}


