@media print {
  body {
    font-size: 14px;
    background-color: lightslategray;
    font-family: JetBrains Mono;
  }
  /* Establece el tamaño de fuente para impresión */
}

@media screen {
  body {
    font-size: 16px;
    background-color:
      rgb(221, 232, 246);
    text-align: justify;
    padding-left: 4%;
    padding-right: 4%;
  }
  /* Establece el tamaño de fuente para visualización */
}

p {
  font-family: JetBrains Mono;
}

.prueba1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: underline double;
}

.prueba2 {
  font-family: 'Courier New', Courier, monospace;
}

.prueba3 {
  background-color: black;
  color: rgb(242, 200, 200);
  text-shadow: 1px 1px 4px #888888, -2px -2px 4px #cccccc;
  font-family: JetBrains Mono;
}

strong {
  color: red;
}

h1 strong {
  color: blue;
  /* Cuanto mas específica es la regla, mayor importancia en jerarquía tiene */
}

h1 {
  color: green;
}

h1 {
  color: blue;
}

h1 {
  color: red;
  /* Ante reglas iguales, prevalece la que está en último lugar */
}

